<%- include('partials/header.ejs'); %>

<div id="colorlib-main">
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container px-0">
            <div class="row d-flex no-gutters">
                <div class="col-lg-8 px-md-5 py-5">
                    <div class="row">
                        <h1 class="mb-3"><%= post.title %></h1>

                        <!-- This is where unique blog content will go. -->
                        <% for(let i = 0; i < post.body.length; i++) { %>
                            <%- post.body[i] %>
                        <% } %>

                        <!-- This is the end of the post content -->

                        <div class="tag-widget post-tag-container mb-5 mt-5">
                            <div class="tagcloud">

                                <% for(let i = 0; i < post.tags.length; i++) { %>
                                    <a href="/filter?tag=<%= tags[i] %>" class="tag-cloud-link"><%= post.tags[i] %></a>
                                <% } %>

                            </div>
                        </div>

                        <div class="about-author d-flex p-4 bg-light">
                            <div class="bio mr-5">
                                <img src="/images/author.jpg" alt="Image placeholder" class="img-fluid mb-4">
                            </div>
                            <div class="desc">
                                <h3>Almagul Esenova</h3>
                                <p>There is only one corner of the universe you can be certain of improving, and that's your own self.(A.Huxley)</p>
                            </div>
                        </div>

                        <div class="pt-5 mt-5">
                            <h3 class="mb-5 font-weight-bold"><%= post.numOfComments %> Comments</h3>

                            <ul class="comment-list">
                                <% function printComments(commentsArray, isChild) { %>

                                    <% if(isChild) { %> <ul class="children"> <% } %>
                                    <% for(let i = 0; i < commentsArray.length; i++) { %>
                                        <li class="comment">
                                            <div class="vcard bio">
                                                <img src="<%= commentsArray[i].userImg %>" alt="Image placeholder">
                                            </div>
                                            <div class="comment-body">
                                                <h3><%= commentsArray[i].user %></h3>
                                                <div class="meta"><%= commentsArray[i].date %></div>
                                                <p><%= commentsArray[i].body %></p>
                                                <p><a href="#" class="reply">Reply</a></p>
                                            </div>
                                            <% if(commentsArray[i].comments.length > 0) {
                                                printComments(commentsArray[i].comments, true); }
                                            %>
                                        </li>
                                    <% } %>
                                    <% if(isChild) { %> </ul> <% } %>
                                <% } %>

                                <% printComments(post.comments, false); %>



                            </ul>

                            <div class="comment-form-wrap pt-5">
                                <h3 class="mb-5">Leave a comment</h3>
                                <form action="#" class="p-3 p-md-4 bg-light">
                                    <div class="form-group">
                                        <label for="name">Name *</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email *</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="website">Website</label>
                                        <input type="url" class="form-control" id="website">
                                    </div>

                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <%- include('partials/sidebar-right.ejs'); %>

            </div>
        </div>
    </section>
</div>

<%- include('partials/footer.ejs'); %>
